<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Dependencia Tecnologica</title>
</head>
<body>
    <center><h1>Dependencia Tecnológica</h1></center>
    
    
    <div class="contenedor">
        <img class= "imagen" src="/static/img/tec 1.jpeg" alt="Dependencia">
        <div>
            <h2>¿Qué es esta problematica?</h2>
            <p>La dependencia tecnológica es un comportamiento compulsivo que consiste
                 en usar dispositivos tecnológicos de manera excesiva e inmoderada. <br/>Esto puede afectar las relaciones interpersonales y las actividades diarias. </p>
        </div>
        
    </div>
    <h2>La dependecia puede manifestarse en diferentes formas, como:</h2>
    
    <div class="carrusel">
        <div class ="card">
            <center><h3>Adicción a las redes sociales</h3></center>
            <img class= "carimg" src="/static/img/redes.png" alt="">
            <p><center>Es untrastorno del 
                comportamiento que se <br/>caracteriza por la necesidad de usarlas <br/>de manera 
                compulsiva e incontrolable</p></center>
        </div>

        <div class="card">
            <center><h3>Adicción a los videojuegos</h3></center>
            <img class= "carimg" src="/static/img/juegos.png" alt="">
            <center><p>Es un patrón de comportamiento<br/>
                 que se caracteriza por el uso <br/> compulsivo de videojuegos, <br/>
                 que interfiere con la vida diaria
            </p></center>

        </div>
           
        <div class="card">
            <center><h3>Adicción a los dispositivos móviles</h3></center>
            <img class= "carimg" src="/static/img/dispositivos.png" alt="">
            <center><p>También conocida como nomofobia,<br/>
                 es un trastorno mental que se caracteriza <br/>por un uso excesivo y descontrolado<br/> del teléfono o la tablet. </p></center>

        </div>

    </div>
    
    <br/>
    <br/>
    <center><P><b>Si bien la tecnología ha permitido el avance en diferentes áreas, 
        esta si no se usa con equilibrio y con límites puede causar muchos problemas.</P></b></center>
        <br/>
    <h2 class="positive">Aspectos Positivos</h2>

    <div class="Positivos">
        <div class="aspectos1">
            <center><h3>Acceso a información y educación</h3></center>
            <img class= "posimg" src="/static/img/aprender.png" alt="">
            <p><center>Permite aprender y acceder <br/>
                al conocimiento global <br/> de forma inmediata, <br/>democratizando la educación.</center></p>
        </div>
        <div class="aspectos1">
            <center><h3>Facilita la comunicación</h3></center>
            <img class= "posimg" src="/static/img/comunicacion.png" alt="">
            <p><center>Mantiene a las personas conectadas<br/> a pesar de las distancias, promoviendo<br/>
                 relaciones personales y laborales.
            </center></p>
        </div>
        <div class="aspectos1">
            <center><h3>Entretenimiento</h3></center>
            <img class= "posimg" src="/static/img/entretenimiento.png" alt="">
            <p><center>Ofrece múltiples plataformas<br/> para relajarse, socializar y<br/> explorar intereses.
            </center></p>
        </div>
        <div class="aspectos1">
            <center><h3>Automatización y productividad</h3></center>
            <center><img class= "posimg" src="/static/img/productividad.png" alt=""></center>
            <p><center>Ayuda a optimizar procesos<br/> laborales y domésticos, <br/>ahorrando tiempo y esfuerzo.
            </center></p>
        </div>



    </div>

</body>
</html>